<header class="app-header">
  <span class="app-title">{{ 'header.title' | translate }}</span>

  <div class="header-center">
    <ng-content></ng-content>
  </div>

  <div class="lang-switch">
    <button type="button" class="lang-button" [class.active]="translation.currentLang() === 'fr'"
      (click)="setLang('fr')">
      FR
    </button>
    <button type="button" class="lang-button" [class.active]="translation.currentLang() === 'en'"
      (click)="setLang('en')">
      EN
    </button>
  </div>
</header>